.cards__container {
    padding: var(--space-m-4xl) 0;
    gap: var(--space-4xl);
    flex-flow: column wrap;
}

.intro {
    padding-bottom: var(--space-xl-4xl);
}


/* Sinbgle card */
.card__container {
    padding: 0 var(--space-s); 
    gap: var(--space-s);
}
.card__title {
    text-transform: uppercase;
    overflow-wrap:break-word;
}
.card__content, .card__title {
    text-align: center;
}


@media screen and (min-width: 768px) {
    .cards__container {
        flex-flow: row wrap;
    }
    .card__container {
        flex: 0 0 47%;
    }
}

@media screen and (min-width: 1420px) {
    .cards__container {
        flex-flow: row wrap;
    }
    .card__container {
        flex: 1 1 0;
    }
}